<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.emf.mwe.ui.MWELaunchConfigType">
<stringAttribute key="bad_container_name" value="\jpa.exporter\launchConfigs"/>
<booleanAttribute key="java_debug" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jpa.exporter"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms40m&#13;&#10;-Xmx256m"/>
<stringAttribute key="startWorkflow" value="/jpa.exporter/wf/modelExportWorkflow.mwe"/>
</launchConfiguration>
