<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.openarchitectureware.debug.WFLaunchConfigType">
<booleanAttribute key="java_debug" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jpa.generator"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jpa.generator"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms40m&#13;&#10;-Xmx256m"/>
<stringAttribute key="startWorkflow" value="/jpa.generator/src/main/resources/workflow.oaw"/>
</launchConfiguration>
